.mainColumn {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  padding-top: 50px;
}

.groupDetail {
  display: inline-flex;
  grid-column: 2;
}

div .preview img {
  align-items: normal;
}

.preview img {
  width: 100%;
}

.notPreview {
  width: 40%;
}

.notPreview h1 {
  text-align: left;
  justify-content: flex-start;
  padding-bottom: 50px;
}

.bottom {
  display: inline-flex;
}

.bottom div {
  padding: 50px 0px;
}

.notPreview button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 200px;
  height: 100px;
  border-radius: 40px;
  color: black;
  font-size: larger;
}

.notPreview button.disabled {
  background-color: grey;
  cursor: default;
}

.notPreview button.ownerButtons {
  background-color: darkgray;
}

.buttonDown {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40%;
}

.details {
  grid-column: 2;
}
