.headers {
  display: flex;
  justify-content: flex-start;
  grid-column: 2;
}

.mainColumn {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.headers h2 {
  padding: 20px;
  padding-top: 10px;
  padding-left: 0px;
}

.headers h2 .notdisabled {
  color: black;
  text-decoration: none;
}

.headers h2 .disabled {
  color: teal;
  text-decoration: underline;
  cursor:default;
}

.label {
  display: flex;
  justify-content: flex-start;
  grid-column: 2;
  color: grey;

}

.group {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column: 2;
  padding-top: 20px;
  border-top: 3px solid black;
  padding-bottom: 20px;
  cursor: pointer;
}

.group img {
  width: 100%;
}

.group .bottom {
  display: inline-flex;
  float: left;
}

div .preview {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  width: 100%;
}

.notPreview {
  padding-left: 20px;
}

.notPreview div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.label {
  margin-bottom: 25px;
}
