h1 {
  display: flex;
  justify-content: center;
}

input {
  display: flex;
  justify-content: center;
}

form {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 100px;
}

.demo {
  border: none;
  background-color: white;
  text-decoration: underline;
  color: blue;
}

button {
  cursor: pointer;
}


