.container1{
  position: absolute;
  display: grid;
  grid-template-columns: 35% 15% 15% 35%;
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
}

.container3 {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 50px;
}

.join {
  margin-top: 100px;
  width: 150px;
  height: 50px;
}

.container4 {
  display: flex;
  justify-content: center;
}

.rightImage {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3;
}
.title {
  grid-column-start: 2;
}

.container2 div{
  display: flex;
  justify-content: center;
}

.container2 {
  margin-top: 340px;
}

.container2 h2{
  display: flex;
  justify-content: center;
}


.container3 div {
  font-size: x-large;
  width: 25%;

}

.container3 .disabled {
  color: grey;
  text-decoration: none;
  cursor:default;
}

.container1 img {
  display: flex;
  justify-content: center;
}

.rightImage img {
  width: 100%;
}
