li {
  list-style-type: none;
  padding: 25px 0px;
}

.left {
  float: left;
}

.right {
  display: flex;
  align-items: center;
  float: right;
}

.left i {
  color: black;
}


.right button {
  border: none;
  background-color: white;
  padding: 0px 50px;

}


.line {
  position: relative;
}

.line::before {
  content: "";
  border-bottom: 2px solid grey;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  margin: 0px;
}

.title {
  text-decoration: none;
}

.titlecard {
  display: flex;
  align-items: center;
  margin-right: 10px;

}

a {
  text-decoration: none;
  color: black;
}

a .titlecard {
  display: inline-flex;
  flex-direction: column;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
