.hidden{
  display: none;
}

.right .logout{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border: none;
  border-top: 3px black solid;
}

/* .right .logout button {
  display: flex;
  justify-content: flex-start;
} */

.profile-dropdown{
  position: relative;
  border: 3px black solid;
  padding: 0px;
  position: relative;
  z-index: 2;
  width: 90%;
}

.userInfo{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border: none;
}

.right .profile{
  padding-right: 150px;
  border: none;
  background-color: white;
}

.groupsNav {
  text-decoration: none;
  color: black;
  padding-left: 20px;
  padding-top: 0px;
  /* padding-top: 10px; */
  /* border-top: 3px black solid; */
  /* width: fit-content */
}

.right li button {
  width: fit-content;
  text-align: left;
  padding-left: 0px;
}

li .groups {
  border-top: 3px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}
